body {
  font-family: verdana;
  width: 100%;
  padding: 0 1.5rem;
  background-color:lavender(234, 183, 234);
}
.container{
  padding: 1px;
  margin: 0.5px;
  font: 30px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
  border: 1px solid lightskyblue;
  box-shadow: 0 1rem 6rem black;
  border-radius: 0.5rem;
}

nav a.selected {
  border: solid 2px  rgb(142,154,175);
  background-color:  rgb(254,234,250);  
}

h2,h3 {
  font-family: 'Courier New', Courier, monospace;
}
form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin:1rem;
}
